<div class="row">
  <div class="col col-md-10 offset-md-1">

    <app-alert *ngIf="errorMsg" [msg]="'something wrong while getting the files info.'" (close)="dismissAllAlert()">
    </app-alert>

    <div *ngIf="isLoading; then thenLoading else elseTables"></div>

    <ng-template #thenLoading>
      <app-loading></app-loading>
    </ng-template>

    <ng-template #elseTables>
      <ng-template ngFor let-table [ngForOf]="data">
        <app-table [data]="table"></app-table>
      </ng-template>
    </ng-template>

  </div>
</div>