<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">

    <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> something wrong while trying to send the file info.
      <button type="button" class="close" (click)="dismissAllAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> the file info was save.
      <button type="button" class="close" (click)="dismissAllAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="isLoading; then thenLoading else elseForm"></div>

    <ng-template #thenLoading>
      <div class="d-flex justify-content-center my-5 py-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>

    <ng-template #elseForm>
      <form *ngIf="fileForm" (ngSubmit)="onSubmit()" [formGroup]="fileForm"
        [ngClass]="{'was-validated': (fileForm.dirty || fileForm.touched)}">
        <div class="form-group">
          <label for="exampleInputEmail1">User name</label>
          <input type="text" class="form-control" formControlName="user" placeholder="Enter name" required>
          <div class="invalid-feedback" *ngIf="user.invalid && (user.dirty || user.touched)">
            Please introduce a username.
          </div>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile"
              (change)="selectFile($event.target.files, $event)" required>
            <label class="custom-file-label" for="customFile">{{fileMsg}}</label>
            <div class="invalid-feedback" *ngIf="isValidFileInput">
              <div *ngIf="nameError">
                The file is required.
              </div>
              <div *ngIf="sizeError && !nameError">
                The file is too big. max value in bytes is: {{sizeError.max}}
              </div>
              <div *ngIf="typeError && !sizeError && !nameError">
                The file type is unacceptable.
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" formControlName="size">
        <button type="submit" class="btn btn-primary" [disabled]="!fileForm.valid">Submit</button>
      </form>
    </ng-template>
  </div>
</div>